{% extends 'core/base.html' %}

{% block content %}

<h2>Formulario creacion Ticket</h2>
<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <div class="mx-auto">
        <label class="form-label">ID</label>
        <input type="number" class="form-control" name="id" required>
    </div>
    <div class="mx-auto">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" required>
    </div>
    <div class="mx-auto">
        <label class="form-label">Description</label>
        <textarea class="form-control" rows="4" cols="50" name="description"
            required></textarea>
        <div class="mx-auto">
            <label class="form-label">Tech</label>
            <input type="text" class="form-control" name="tech" required>
        </div>
        <div class="form-group mt-5">
            <button class="btn btn-primary">Create</button>
            <a class="btn btn-danger" href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
    {% endblock %}