{% extends 'core/base.html' %}

{% block content %}
<h2>Editar Ticket</h2>
<form method="post">
    {% csrf_token %}
    <div class="mx-auto">
        <label class="form-label" for="new_name">Nuevo Nombre</label>
        <input type="text" class="form-control" name="new_name"
            value="{{ ticket.name }}" required>
    </div>
    <div class="mx-auto">
        <label class="form-label" for="new_description">Nueva Descripción</label>
        <textarea class="form-control" rows="4" cols="50" name="new_description"
            required>{{ ticket.description }}</textarea>
    </div>
    <div class="mx-auto">
        <label class="form-label" for="new_tech">Nuevo Técnico</label>
        <input type="text" class="form-control" name="new_tech"
            value="{{ ticket.tech }}" required>
    </div>
    <div class="form-group mt-5">
        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
        <a class="btn btn-danger" href="{% url 'ticketList' %}">Cancelar</a>
    </div>
</form>
{% endblock %}
